body {
  background-color: rgb(53, 44, 61);
  display: grid;
  place-items: center;
}

.adjustedWidth {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  border-spacing: 20px;
}
td {
  width: 100px;
  height: 100px;
  background-color: rgba(134, 163, 163, 0.199);
  border-radius: 35px;
}
td:hover {
  background-color: rgba(121, 117, 126, 0.548);
  cursor: pointer;
}

.showCurrentPlayer {
  width: 45px;
  opacity: 50%;
  margin-bottom: 10px;
}

h1 {
  margin-block-end: 10px;
}
